/* App.css */

/* Apply styles to the root container */
.app {
 
}

/* Header styles */
.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Container styles (for sidebar and content) */
.container {
 width: 100%;
 height: 100vh;
}

.content{
  height: ;

}

/* Sidebar styles */
.sidebar {
  width: 20vw;
  height: 80vh;
  float: left;
  background-color: #eee;

}

/* Sidebar link styles */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

/* Content styles */
.content {
  /* width: 100%;
  float: right; */
 
  background-color: #f5f5f5;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  height: 20%;
  
}
